h1{
    text-align: center;
}

div{
    text-align: center;

}
#text-area-div{
    width:100%;
    height: 20%;
}

#text-area{
    width:50%;
    height: 50%;
    font-size: 200%;
    text-align: justify;
    padding: 2%;
    
}
#chars-to-remove{
    width:50%;
    padding-right: 23%;
    text-align: right;
}